<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<!-- Google Analytic -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65256806-1', 'auto');
  ga('send', 'pageview');

</script>

 
<!--Structured Data for Google -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "url": "http://rick.gerk.in/",
      "image": "https://raw.githubusercontent.com/rgerkin/rgerkin.github.io/master/img/profile.jpg",
      "additionalName": "",
      "description":"Neuroscientist and Osmologist",
      "name": "Richard C Gerkin"
      ,
      "sameAs" : [
        "https://www.linkedin.com/in/rgerkin",
        "https://github.com/rgerkin",
        "https://twitter.com/rgerkin"
      ]
    }
</script>
